<h1>Create a Movement:</h1>

<% if @movement.errors.any? %>
  <div id="error_explanation">
    <h2><%= @movement.errors.count %> error(s) prohibited this movement from being saved:</h2>
 
    <ul>
    <% @movement.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<form method="post" action="/movements">
  <p>
    <div><label for="date">DATE:</label></div>
    <input id="date" type="date" name="movement[date]" placeholder="dd-mm-yyyy" value="<%= @movement.date %>" >
  </p>
  <p>
    <div><label for="season">SEASON:</label></div>
    <select id="season" name="movement[season]" value="<%= @movement.season %>" >
      <option value="Summer2020">Summer 2020</option>
      <option value="Winter2020">Winter 2020</option>
    </select>
  </p>
  <p>
    <div><label for="category">CATEGORY:</label></div>
    <select id="category" name="movement[category]" value="<%= @movement.category %>" >
      <option value="Inbound">Inbound</option>
      <option value="Outbound">Outbound</option>
    </select>
  </p>
  <p>
    <div><label for="destination">DESTINATION:</label></div>
    <select id="destination" name="movement[destination]" value="<%= @movement.destination %>" >
    <option value="Warehouse">Warehouse</option>
    <option value="ARC-Store2075">ARC - Store 2075</option>
    <option value="PSD-Store3088">PSD - Store 3088</option>
    <option value="GLD-Store1200">GLD - Store 1200</option>
    </select>
  </p>
  <p>
    <div><label for="box_number">BOX #:</label></div>
    <input id="box_number" type="text" name="movement[box_number]" value="<%= @movement.box_number %>" />
  </p>
  <p>
    <div><label for="units_quantity">QUANTITY:</label></div>
    <input id="units_quantity" type="text" name="movement[units_quantity]" placeholder="# of units" value="<%= @movement.units_quantity %>" />
  </p>
 
  <input type="submit" value="Create movement" />

</form>