<h1>MOVEMENT DETAILS</h1>

<p>Date: <%= @movement.date %></p>

<p>Destination: <%= @movement.destination %></p>
<p>Season: <%= @movement.season %></p>
<p>Category: <%= @movement.category %></p>
<p>Box Number: <%= @movement.box_number %></p>
<p>Quantity: <%= @movement.units_quantity %></p>
<p>Created by: <%= @movement.user.username %></p>



<% if logged_in? && authorize_movement(@movement) || logged_in? && manager_user(current_user) %>
  <div>
    <a href="/movements/<%= @movement.id %>/edit"><button>Edit</button></a> 
    <form method="post" action="/movements/<%= @movement.id %>" style="display: inline-block;">
      <input type="hidden" name="_method" value="delete" />
      <input type="submit" value="Delete" />
    </form>
  </div>

<% end %>
  


