<h1>This is the show page for an individual instance of your model.</h1>

<h1><%= @movement.destination %></h1>

<p><%= @movement.date %></p>
<p><%= @movement.season %></p>
<p><%= @movement.category %></p>
<p><%= @movement.box_number %></p>
<p><%= @movement.units_quantity %></p>
<p><%= @movement.user.username %></p>

<% if authorize_movement(@movement) %>
  <div>
    <a href="/movements/<%= @movement.id %>/edit"><button>Edit</button></a> 
    <form method="movement" action="/movements/<%= @movement.id %>" style="display: inline-block;">
      <input type="hidden" name="_method" value="delete" />
      <input type="submit" value="Delete" />
    </form>
  </div>
<% end %>

